@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 992px){
    
}
@media only screen and (max-width: 768px){
    .built-for-you-sec .title{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .built-for-you-sec .item-box .name-box p{
        font-size: 16px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .built-for-you-sec .item-box .text-box p{
        font-size: 26px;
        bottom: -310px;
    }
    .app-sec .img-box{
        height: 370px;
    }
    .app-sec .img-box .img-1{
        left: 0;
        top: -35px;
        bottom: unset;
    }
    .app-sec .img-box .img-4{
        width: 180px;
        top: unset;
        bottom: 30px;
    }
    .app-sec .img-box .img-2{
        top: -110px;
        left: 80px;
    }
    .app-sec .img-box .img-3{
        left: 310px;
        bottom: 43%;
        width: 105px;
    }
    footer .logo-box img{
        margin-bottom: 20px;
    }
    .main-banner-sec .heading h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .main-banner-sec .heading h2{
        font-size: 23px;
        font-weight: 500;
    }
    .main-banner-sec .desc{
        font-size: 18px;
    }
    .expertly-sec .heading h2{
        font-size: 26px;
        line-height: normal;
    }
    .section-heading h2{
        font-size: 28px;
    }
    .app-sec .content-box .title{
        line-height: normal;
        font-size: 23px;
        margin-bottom: 40px;
    }
    .testmonial-box .name{
        margin-bottom: 10px;
    }
    .testmonial-box .desc{
        margin-bottom: 0;
        min-height: auto;
        font-size: 16px;
    }
    .testmonial-box .rating-box{
        margin-bottom: 30px;
    }
    .main-banner-sec .text{
        font-size: 16px;
    }
    .main-banner-sec .btn-black{
        display: block;
        width: 100%;
    }
    .section-heading p {
        font-size: 16px;
    }
    .built-for-you-sec .title p{
        font-size: 18px;
        font-weight: 500;
    }
    .app-sec .content-box .desc{
        font-size: 16px;
        line-height: normal;
    }
    
}
@media only screen and (max-width: 576px){
    
}
@media only screen and (max-width: 400px){
    
}