:root{
    --white: #fff;
    --black: #000;
   --orange: #F7941D;
   --green: #00A651;
   --blue: #61ABFC;
   --light-text: #989898;
   --purple: #B068AA;
   --heading-text: #152f2e;
   --sky: #9fd9e7;
   --gradient-one: linear-gradient(124deg, rgba(247,148,29,1) 0%, rgba(255,198,130,1) 100%);
}
